*~
*#*
*.o
*.asc
src/dispersion
src/.deps
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
config.h
config.h.in
install-sh
missing
compile
depcomp
stamp-h1